<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	</head>
	<body>
		<div id="app">
		  	<!-- <input v-model="message"  v-on:keyup.enter="addTodo">
		  	<div>
		  					<ul>
		  					    <li v-for="todo in todos">
		  					      <span>{{ todo.text }}</span>
		  					      <button v-on:click="removeTodo($index)">X</button>
		  					    </li>
		  					</ul>
		  				</div> -->
		  	<!-- <child msg="hello!"></child> -->
		  	<app></app>
		</div>
		
	<script type="text/javascript" src="dist/vendors.js"></script>
	<script type="text/javascript" src="dist/app.js"></script>
	</body>
</html>